#logo{
    text-align:center;
}
.nav-button{
    border:none;
    border-radius: 5px;
    margin-right: 30px;
    height: 30px;
    font-size:17px;
    min-width:70px;
}
#nav-search{
    height: 22px;
    width: 40%;
    margin-right:30px;
}
#nav{
    text-align: center;
}
#carousel{
    z-index: 0;
    margin: auto;
    margin-top: 30px;
    width:60%;
    height: 60vh;
    background-color:#a45e22;
}
#prev{
    float: left;
    text-align: right;
}
#next{
    float:right;
}
#prev,#next{
    width: 30px;
    font-size: 30px;
    color:black;
   
}
#prev:hover,#next:hover{
    background-color: rgba(99, 75, 75, 0.645);
}
#buttons{
    width:59.3%;
    margin-right: 10px;
    position: absolute;
    top: calc(50vh);
}
.carousel-image{
    margin: auto;
    height: 60vh;
    position: relative;
    top:0px;
    display: none;
}
#first-image{
    display: block;
}
.dot{
    background-color: rgba(0, 0, 0, 0.56);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}
#dots{
    margin-top: 10px;
    text-align: center;
}
#first-dot{
    background-color: rgba(0, 0, 0, 0.826);
}
#featured{
    width: 90vw;
    height: 60vh;
    margin: auto;
    background-color: #c3ffd86a;
    border-radius: 10px;
    display: block;
    position: relative;
}
#featured h1{
    margin-left: 10px;
    margin-top: 10px;
}
#featured-1{
    margin-left:3vw;
}
.product{
    border-radius: 10px;
    width: 20vw;
    height: 50vh;
    background-color: rgba(242, 228, 166, 0.457);
    display: inline-block;
    margin-right:1vw;
    margin-bottom: 10px;
}
.product img{
    width: 100%;
    height: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.product p{
    width:100%;
    float: left;
    margin: 0px;
    margin-top: 5px;
    margin-left: 5px;
}
#all-products{
    width: 90vw;
    min-height:100vh;
    margin: auto;
    margin-top: 30px;
    background-color: #c3ffd86a;
    border-radius: 10px;
}
#all-products h1{
    margin-left: 10px;
    margin-top: 10px;
}
#canvas{
    background-color: rgba(205, 255, 174, 0.472);
    width: 90%;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    min-height: 111vh;
}
#serach-suggestion{
    width: 40%;
    padding-bottom: 10px;
    max-height: 60%;
    background-color: rgb(186, 224, 146);
    display: block;
    position: absolute;
    left: 19.7%;
    z-index: 1;
    margin-top: 10px;
    border-radius: 10px;
    overflow-y: auto;
    display: none;
  
}
.suggestion{
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color:inherit;
    border: 1px solid;
    width: 98%;
    height: 50px;
    display: block;
}
.myaccount-options{
    margin: auto;   
    text-align: center;
    width: 90%;
    margin-top:10px;
    font-size: 20px;
    border-bottom: 1px solid;

}
#myaccount-options{
    background-color: #91cc6d99;
    width:10%;
    margin: auto;
    border-radius: 5px;
    padding-top:1px;
    padding-bottom:20px;
    margin-left: 78%;
    display: none;
    position: absolute;
    z-index: 10;
}
#drop_btn{
    font-weight: 100;
    font-size: medium;
    display: inline-block;
    transform: rotate(270deg);
    transition: 1s;
}
a{
    text-decoration: none;
    color: black;
}
body{
    overflow-y: scroll;
}