<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css">
    <title>Shoe Factory</title>
</head>
<body>
    <h1 id="logo">Shoe Factory</h1>
    <div id="nav">
        <button class="nav-button" id="home-buttoon" onclick="location.href='index.html'">Home</button>
        <button class="nav-button" id="brands-btn" onclick="location.href='brands.html'">Brands</button>
        <input type="text" name="saerch" id="nav-search" placeholder="Search Shoes">
        <button class="nav-button" id="about-btn" onclick="location.href='about.html'">About</button>
        <button class="nav-button" id="privacy-btn" onclick="location.href='privacy.html'">Privacy Policy</button>
        <button class="nav-button" id="myaccount-btn">My Account <span id="drop_btn">❮</span></button>
        <button class="nav-button" id="login-btn" onclick="location.href='login.html'">Login</button>
        <button class="nav-button" id="signup-btn" onclick="location.href='signup.html'">Signup</button>
        <!--<img src="static/images/cart.svg" class="nav-button" id="cart" alt="Cart" onclick="location.href='cart.html'">-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -550 1600 712" width="100" height="90">
           <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
             
             <circle cx="650" cy="-90" r="170"  stroke="black" stroke-width="2" fill="red" id="items-circle"/>
            <text x="560" y="25" style="font-size:350px" font-weight="700" id="cart_items">1</text>
            </svg>
    </div>
    <div id="myaccount-options">
        <a href="myprofile.html"><div class="myaccount-options">My Profile</div></a>
        <a href="wishlist.html"><div class="myaccount-options">Wishlist</div></a>
        <a href="orders.html"><div class="myaccount-options">Orders</div></a>
        <a href="logout.html"><div class="myaccount-options">Logout</div></a>
    </div>
    <div id="serach-suggestion">
        <div class="suggestion"></div>
        <div class="suggestion"></div>
        <div class="suggestion"></div>
    </div>
    
    <div id="carousel">
        <div id="buttons">
            <span id="prev" onclick="change_image(-1)">❮</span>   <span id="next" onclick="change_image(1)">❯</span>
        </div>
        <img src="static/images/first.jpg" alt="" class="carousel-image" id="image-1">
        <img src="static/images/second.jpg" alt="" class="carousel-image" id="image-2">
        <img src="static/images/third.jpg" alt="" class="carousel-image" id="image-3">
        <img src="static/images/fourth.jpg" alt="" class="carousel-image" id="image-4">
    </div>

    <div id="dots">
        <span class="dot" id="dot-1"></span> 
        <span class="dot" id="dot-2"></span>
        <span class="dot" id="dot-3"></span>
        <span class="dot" id="dot-4"></span>
    </div>

    <div id="featured">
        <h1>Featured</h1>
        <!--<div class="product">
                <img src="static/images/first.jpg" alt="">
                <p class="product-price">Product Price Here</p>
                <p class="product-desc">Product Discription Here</p>
            </div>-->
    </div>
    

    <div id="all-products">
        <h1>Shoes</h1>    
        <!--
        <div class="product">
            <img src="static/images/first.jpg" alt="">
            <p class="product-price">₹499 <s>₹999</s> 30% Discount</p>
            <p class="product-desc">Product Discription Here</p>
        </div>
        -->
    </div>
<script>
        {% if request.user.is_authenticated %}
        sessionStorage.setItem("login_status","true");
        sessionStorage.setItem("req_user","{{request_user}}");
        {% else %}
        sessionStorage.setItem("login_status","false");
        {% endif %}
</script>
<script src="static/js/back_recog.js"></script>
<script src="static/js/featured.js"></script>
<script src="static/js/all_products.js"></script>
<script src="static/js/index.js"></script>
<script src="static/js/carousel.js"></script>
</body>
</html>