<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoe Factory</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
    <h1 id="logo">Shoe Factory</h1>
    <div id="nav">
        <button class="nav-button" id="home-buttoon" onclick="location.href='index.html'">Home</button>
        <button class="nav-button" id="brands-btn" onclick="location.href='brands.html'">Brands</button>
        <input type="text" name="saerch" id="nav-search" placeholder="Search Shoes">
        <button class="nav-button" id="about-btn" onclick="location.href='about.html'">About</button>
        <button class="nav-button" id="privacy-btn" onclick="location.href='privacy.html'">Privacy Policy</button>
        <button class="nav-button" id="myaccount-btn">My Account <span id="drop_btn">❮</span></button>
        <button class="nav-button" id="login-btn" onclick="location.href='login.html'">Login</button>
        <button class="nav-button" id="signup-btn" onclick="location.href='signup.html'">Signup</button>
        <img src="static/images/cart.svg" class="nav-button" id="cart" alt="Cart" onclick="location.href='cart.html'">
    </div>
    <div id="myaccount-options">
        <a href="myprofile.html"><div class="myaccount-options">My Profile</div></a>
        <a href="wishlist.html"><div class="myaccount-options">Wishlist</div></a>
        <a href="orders.html"><div class="myaccount-options">Orders</div></a>
        <a href="logout.html"><div class="myaccount-options">Logout</div></a>
    </div>
    <div id="serach-suggestion">
        <div class="suggestion"></div>
        <div class="suggestion"></div>
        <div class="suggestion"></div>
    </div>
   
    <div id="featured" style="margin-top:50px ;">
        <h1>Wishlist</h1>
        <a href="product.html">
        <div class="product" id="featured-1">
            <img src="static/images/first.jpg" alt="">
            <p class="product-price">Product Price Here</p>
            <p class="product-desc">Product Discription Here</p>
        </div>
        <div class="product" id="featured-2">
            <img src="static/images/second.jpg" alt="" >
            <p class="product-price">Product Price Here</p>
            <p class="product-desc">Product Discription Here</p>
        </div>
        <div class="product" id="featured-3">
            <img src="static/images/third.jpg" alt="" >
            <p class="product-price">Product Price Here</p>
            <p class="product-desc">Product Discription Here</p>
        </div>
        <div class="product" id="featured-4">
            <img src="static/images/fourth.jpg" alt="" >
            <p class="product-price">Product Price Here</p>
            <p class="product-desc">Product Discription Here</p>
        </div>
    </a>
    </div>
    <script src="static/js/index.js"></script>
</body>
</html>